<div class="container shadow p-2 mb-3 bg-white rounded" style="margin-right: 70px;">

    <div class="row">

        <div class="col-4">
            <div class="card shadow p-3 mb-5 bg-white rounded" style="margin-left: 10px;">
                <img src="../../../assets/img_avatar1.png" alt="John" style="width:100%">
                <h2 class="p-1 m-1">KLvamshi</h2>
                <h3>{{this.adminid}}</h3>
                <p class="title">CEO & Founder, philanthropist,
                    Osmania University</p>
            </div>
        </div>

        <div class="col-8 mt-3">
            <div class="card shadow p-3 mb-4 bg-white rounded">
                <!-- <div class="card-header"><img src="../../../assets/images/admin.jpg"
                        class="shadow mb-2 bg-black rounded" height="270px" width="100%" style="margin-top: -10%;" alt="">
                </div> -->
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus impedit
                        dolore porro fugiat consequuntur dolorum quaerat. Alias quod distinctio sequi! Nisi porro
                        pariatur iusto fugiat! Veritatis commodi qui nostrum illum?</p>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus impedit
                        dolore porro fugiat consequuntur dolorum quaerat. Alias quod distinctio sequi! Nisi porro
                        pariatur iusto fugiat! Veritatis commodi qui nostrum illum?</p>

                    <div class="text-center"><br>
                        <a href="#" class="p-2"><i class="fa fa-dribbble"></i></a>
                        <a href="#" class="p-2"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="p-2"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="p-2"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>

            </div>
        </div>
        
    </div>



</div>
